@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-popa: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --background: #F9F9F9;
}

/* Кастомные классы для шрифтов */
.popa-font {
  font-family: var(--font-popa);
}

.inter-font {
  font-family: var(--font-inter);
}

.logo {
  filter: invert(1);
}

.hover:fill-white:hover img {
  color: aliceblue;
  cursor: pointer;
}

.parallax {
  scale: (0.4 0.3);
  position: relative;
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: contain;
  /* Try contain or specify size like 100% auto */
  background-position: 50% 50%;
  /* Initial background position */
  will-change: background-position;
  /* For performance optimization */
  background-image: url('/HeroHeader.png'),
    url('/image2.png'),
    url('/image3.png');
}

/* For Webkit browsers (Chrome, Safari) */
.hide-scrollbar {
  overflow: -moz-hidden-unscrollable; /* Firefox */
  overflow: hidden; /* Hide scrollbar */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

body {
  user-select: none;
}


/* Optional: If you want to hide the scrollbar completely */
.scroll-hidden::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar */
}
