@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-popa: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --background: #F9F9F9;
}

/* Кастомные классы для шрифтов */
.popa-font {
  font-family: var(--font-popa);
}

.inter-font {
  font-family: var(--font-inter);
}
