@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-popa: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --background: #F9F9F9;
}

/* Кастомные классы для шрифтов */
.popa-font {
  font-family: var(--font-popa);
}

.inter-font {
  font-family: var(--font-inter);
}

.logo {
  filter: invert(1);
}

.hover:fill-white:hover img {
  color: aliceblue;
  cursor: pointer;
}

.parallax {
  scale: (0.4 0.3);
  position: relative;
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: contain;
  /* Try contain or specify size like 100% auto */
  background-position: 50% 50%;
  /* Initial background position */
  will-change: background-position;
  /* For performance optimization */
  background-image: url('/HeroHeader.png'),
    url('/image2.png'),
    url('/image3.png');
}

.scroll-container {
  cursor: grab;
}
body {
  overflow: hidden;
  /* Hide scrollbars */
}